# Any Node Modules
node_modules/

# Environment Variables
.env
.env.prod

# Cached Build
cache/
out/

# huffc artifacts
artifacts

# Ignore flattened files
flattened.txt

# Ignore Broadcasts
broadcast

# Python
__pycache__
